@background_image: 'https://occ-0-1016-3933.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABVmRLaOveCCyy2lV6KZgeQGdDXDW8gCfVfJYkhGzYCZ4bSGiT4bN3y3a4rN1evIQxwbnMycSQCKbx3fLa4K0I73BMMBz.jpg?r=202';
@rick_morty_image: '';
@full_size: 100%;

body {
  background: #222222;
  font-family: "DejaVu Sans Condensed";
  color: antiquewhite;
}

h1 {
  padding-left: 20px;
  font-size: 40px;
  text-align: left;
}

h2 {
  padding: 0;
  text-align: center;
}

#header {
  height: 250px;
  margin-bottom: 50px;
  background: url(@background_image) bottom;
  background-size: cover;

  div {
    width: @full_size;
    height: @full_size;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
  }
}

#homeContainer {
  max-width: @full_size;
  height: @full_size;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#allCharactersContainer {
  @image_size: 65%;
  @padding: 30px;

  padding: 0 @padding @padding;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  flex-direction: row;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      width: @image_size;
      height: auto;
      border-radius: 5px;
      object-fit: cover;
      cursor: pointer;
    }
    span {
      bottom: 0;
      width: @image_size;
      padding: 10px 0 10px;
      font-weight: bold;
      word-wrap:  normal;
    }
  }
}

#paginator {
  @button_size: 36px;

  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;

  .page-index {
    width: @button_size;
    height: @button_size;
    border-radius: 50%;
    margin: 2px;
    background-color: transparent;
    color: antiquewhite;
    font-size: 18px;
    font-weight: bold;

    &:hover {
      background-color: dimgray;
    }

    &.current-page {
      background-color: #ff7706;
    }
  }

  button {
    font-size: 18px;
    font-weight: bold;
    margin: 0 8px;
  }
}
